[submodule "FFXIVClientInterface"]
	path = FFXIVClientInterface
	url = https://github.com/Critical-Impact/FFXIVClientInterface.git
[submodule "CriticalCommonLib"]
	path = CriticalCommonLib
	url = https://github.com/Critical-Impact/CriticalCommonLib.git
