[submodule "CriticalCommonLib"]
	path = CriticalCommonLib
	url = https://github.com/Critical-Impact/CriticalCommonLib.git
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/Ottermandias/OtterGui.git
[submodule "KamiToolKit"]
	path = KamiToolKit
	url = https://github.com/MidoriKami/KamiToolKit.git
